<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Dashboard</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/home/one'">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Dashboard
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
  <div class="container" >
    <div class="row">
      <div class="col-lg-3">
        <div class="account-sidebar">
          <div class="row">
            <div class="col-2">
                <a  nz-dropdown [nzDropdownMenu]="menu">
                        <i nz-icon [nzType]="'menu'"></i>
                </a>
            </div>
            <div class="col-8">
              <a class="popup-btn" >
                <p style="margin-top: 9px;color: #fff">my account</p>
              </a>
            </div>
          </div>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li (click)="switchTab(0)" nz-menu-item>Account Info</li>
              <li (click)="switchTab(1)" nz-menu-item>My BagiFree or Swap</li>
              <li (click)="switchTab(2)" nz-menu-item>Address Book</li>
              <li (click)="switchTab(3)" nz-menu-item>My Request</li>
              <li (click)="switchTab(4)" nz-menu-item>BagiFree or Swap request</li>
              <li (click)="switchTab(5)" nz-menu-item>Change Password</li>
              <li (click)="switchTab(6)" nz-menu-item>My Ratings</li>
              <li (click)="onLogout()" nz-menu-item>Log out</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="dashboard-left">
          <div class="collection-mobile-back">
            <span class="filter-back">
              <i class="fa fa-angle-left" aria-hidden="true"></i> back
            </span>
          </div>
          <div class="block-content">
            <ul>
              <li (click)="switchTab(0)" [className]="active === 0? 'active': ''" ><a>Account Infoa</a></li>
              <li (click)="switchTab(1)"  [className]="active === 1? 'active': ''"><a>My BagiFree or Swap</a></li>
              <li (click)="switchTab(3)"  [className]="active === 3? 'active': ''"><a>My Request</a></li>
              <li (click)="switchTab(4)"  [className]="active === 4? 'active': ''"><a>BagiFree or Swap Request</a></li>
              <li (click)="switchTab(2)"  [className]="active === 2? 'active': ''"><a>Address Book</a></li>
              <li (click)="switchTab(5)"  [className]="active === 5? 'active': ''"><a>Change Password</a></li>
              <li (click)="switchTab(6)"  [className]="active === 6? 'active': ''"><a>My Ratings</a></li>
              <li (click)="onLogout()" class="last">
                <a>Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-9" *ngIf="active === 0 && !editMode">
        <div class="dashboard-right">
          <div class="dashboard">
            <div class="page-title">
              <h2>My Dashboard</h2>
            </div>
            <div class="welcome-msg">
              <p>Hello, <b> {{ username }} !</b></p>
              <p>
                From your My Account Dashboard you have the ability to view a
                snapshot of your recent account activity and update your account
                information. 
              </p>
            </div>
            <div class="box-account box-info">
              <div class="box-head">
                <h2>Account Information</h2>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="box">
                    <div class="box-title">
                      <h3>Contact Information</h3>
                      <a (click)="showEdit()">Edit</a>
                    </div>
                    <app-spinner *ngIf="loading"></app-spinner>
                    <div class="box-content">
                      <table>
                        <tr>
                          <td><b>Username</b></td>
                          <td>: {{ username }}</td>
                        </tr>
                        <tr>
                          <td><b>Email Address </b></td>
                          <td>: {{ email }}</td>
                        </tr>
                        <tr>
                          <td><b>Mobile Number </b></td>
                          <td>: 0{{ mobile }}</td>
                        </tr>
                      </table>
                      <!-- <h6>Username: {{ username }}</h6>
                      <h6>Email Address: {{ email }}</h6>
                      <h6>Mobile Number: {{ mobile }}</h6> -->
                      <!-- <h6><a [routerLink]="">Change Password</a></h6> -->
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>Newsletters</h3>
                                            <a [routerLink]="">Edit</a>
                                        </div>
                                        <div class="box-content">
                                            <p>
                                                You are currently not subscribed to any newsletter.
                                            </p>
                                        </div>
                                    </div>
                                </div> -->
              </div>
              <div>

                <!-- <div class="box">
                  <div class="box-title">
                    <h3>Address Book</h3>
                    <a [routerLink]="">Manage Addresses</a>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6>Default Billing Address</h6>
                      <address>
                        You have not set a default billing address.<br />
                        <a [routerLink]="">Edit Address</a>
                      </address>
                    </div>
                    <div class="col-sm-6">
                      <h6>Default Shipping Address</h6>
                      <address>
                        You have not set a default shipping address.<br />
                        <a [routerLink]="">Edit Address</a>
                      </address>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9" *ngIf="editMode" >
            <app-edit-profile></app-edit-profile>
      </div>
      <div class="col-lg-9" *ngIf="active === 1">
        <app-myswap> </app-myswap>
      </div>
      <div class="col-lg-9" *ngIf="active === 2">
        <app-address-book> </app-address-book>
      </div>
      <div class="col-lg-9" *ngIf="active === 3">
        <app-my-request> </app-my-request>
      </div>
      <div class="col-lg-9" *ngIf="active === 4">
        <app-giveaway-request> </app-giveaway-request>
      </div>
      <div class="col-lg-9" *ngIf="active === 5">
        <app-change-password> </app-change-password>
      </div>
      <div class="col-lg-9" *ngIf="active === 6">
        <app-myrating> </app-myrating>
      </div>
    </div>
  </div>

</section>
<!-- section end -->
