<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="BagiFree Website Read More" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>BagiFree - Free Giveaway or Swap</title>

    <!-- Favicon -->
    <!-- <link rel="icon" href="img/core-img/favicon.ico"> -->
    <!-- Core Stylesheet -->
    <!-- Google Fonts -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"> -->
    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Material Design Bootstrap -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet"> -->
  </head>

  <body>
    <!-- Preloader Start -->
    <!-- <div id="preloader">
        <div class="colorlib-load"></div>
    </div> -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-md">
            <div class="wellcome-heading">
              <h2><br />BagiFree</h2>
              <p>
                BagiFree your pre-loved stuffs. Have pre-loved, unused <br />
                stuffs lying around collecting dusts and don't know what to do
                with them ?<br />
                Thought about throwing them out?
              </p>
              <!-- <div class="app-download-area">
                <div
                  class="app-download-btn wow fadeInUp"
                  data-wow-delay="0.2s"
                >
                  <a href="#" style="background-color:dimgray;">
                    <i class="fa fa-android" style="color: #fff"></i>
                    <p class="mb-0" style="color: white;">
                      <span>available on</span> Google Store
                    </p>
                  </a>
                </div>
                <div
                  class="app-download-btn wow fadeInDown"
                  data-wow-delay="0.4s"
                >
                  <a href="#" style="background-color: dimgray;">
                    <i class="fa fa-apple" style="color: white;"></i>
                    <p class="mb-0" style="color: white;">
                      <span>available on</span> Apple Store
                    </p>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome thumb -->
       <div
        class="welcome-thumb wow fadeInDown hide-mobile"
        data-wow-delay="0.5s"
      >
        <img
          src="../../../../assets/images/home-4.jpeg"
          alt=""
        />
      </div> 
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading Area -->
            <div class="section-heading text-center">
              <img
                class=""
                style="width :auto; max-height :20vw;"
                src="../../../../assets/img/bg-img/Why BagiFree Header.png"
              />
              <div class="line-shape"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Single Special Area -->
          <div class="col-12 col-md-4">
            <div
              class="single-special text-center wow fadeInUp"
              data-wow-delay="0.2s"
            >
              <div class="single-icon">
                <i class="ti-money" aria-hidden="true"></i>
              </div>
              <h4 style="color: orange;">It's Free!</h4>
              <p>
                BagiFree is a free platform for you to let go or swap your
                pre-loved items! With just few steps and you're good to go!
              </p>
            </div>
          </div>
          <!-- Single Special Area -->
          <div class="col-12 col-md-4">
            <div
              class="single-special text-center wow fadeInUp"
              data-wow-delay="0.4s"
            >
              <div class="single-icon">
                <i class="ti-heart" aria-hidden="true"></i>
              </div>
              <h4 style="color: orange;">Share Love</h4>
              <p>
                Your unused stuff might be someone's treasure! Instead of
                throwing it away, why not use BagiFree to let go or swap your
                stuff?
              </p>
            </div>
          </div>
          <!-- Single Special Area -->
          <div class="col-12 col-md-4">
            <div
              class="single-special text-center wow fadeInUp"
              data-wow-delay="0.6s"
            >
              <div class="single-icon">
                <i class="ti-layout-list-thumb-alt" aria-hidden="true"></i>
              </div>
              <h4 style="color: orange;">Discover</h4>
              <p>
                With BagiFree, you may easily post, search, and categorized the
                item that you want to giveaway or swap!
              </p>
            </div>
          </div>
        </div>
      </div>

      <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <img class="" src="../../../../assets/img/bg-img/v1.png" />
            </div>
          </div>
        </div>
      </section>

      <section class="our-monthly-membership section_padding_50 clearfix">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="membership-description">
                <h2>Register Now!</h2>
                <p>Post or Find BagiFree item today!</p>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="get-started-button wow bounceInDown"
                data-wow-delay="0.5s"
              >
                <a [href]="'/pages/register'">Register Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Special Description Area -->
      <!-- <div class="special_description_area mt-150">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="special_description_img">
                <img src="../../../../assets/img/bg-img/special.png" alt="" />
              </div>
            </div>
            <div class="col-lg-6 col-xl-5 ml-xl-auto">
              <div class="special_description_content">
                <h3 style="color: orange;">Download BagiFree Apps Today!</h3>
                <br />
                <p>
                  BagiFree Anytime, Anywhere! With such a cool feature, you can
                  now post your giveaway or swap item through your fingertips!
                </p>
                <div class="app-download-area">
                  <div
                    class="app-download-btn wow fadeInUp"
                    data-wow-delay="0.2s"
                  >
                    <a href="#">
                      <i class="fa fa-android"></i>
                      <p class="mb-0"><span>available on</span> Google Store</p>
                    </a>
                  </div>
                  <div
                    class="app-download-btn wow fadeInDown"
                    data-wow-delay="0.4s"
                  >
                    <a href="#">
                      <i class="fa fa-apple"></i>
                      <p class="mb-0"><span>available on</span> Apple Store</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>

    <!-- ***** Special Area End ***** -->

    <!-- ***** Awesome Features End ***** -->

    <!-- ***** Video Area Start ***** -->
 <div class="video-section">
        <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="section-heading text-center">
                  <img
                    class=""
                    style="width :auto; max-height :20vw;"
                    src="../../../../assets/img/bg-img/How-to-Vid.png"
                  />
                  <div class="line-shape"></div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Modal: Name-->
                            <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">

                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Body-->
                                        <div class="modal-body mb-0 p-0">
                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                <iframe class="embed-responsive-item"
                                                    src="https://www.youtube.com/embed/jkcMo5OAUAQ"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Content-->

                                </div>
                            </div>
                            <!--Modal: Name-->

                            <a><img class="img-fluid z-depth-1" src="../../../../assets/img/bg-img/yt-cover.png" alt="video"
                                    data-toggle="modal" data-target="#modal1"></a>
                                    
                            <p class="text-center"><br/>01 - How to Create Free Account on BagiFree</p>

                        </div>
                        <div class="col-lg-4 col-md-12 mb-4">

                          <!--Modal: Name-->
                          <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
                              aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">

                                  <!--Content-->
                                  <div class="modal-content">
                                      <!--Body-->
                                      <div class="modal-body mb-0 p-0">
                                          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                              <iframe class="embed-responsive-item"
                                                  src="https://www.youtube.com/embed/FZcYbifOt8c"
                                                  allowfullscreen></iframe>
                                          </div>
                                      </div>
                                  </div>
                                  <!--/.Content-->

                              </div>
                          </div>
                          <!--Modal: Name-->

                          <a><img class="img-fluid z-depth-1" src="../../../../assets/img/bg-img/yt-cover.png" alt="video"
                                  data-toggle="modal" data-target="#modal2"></a>
                                  
                          <p class="text-center"><br/>02 Login & Dashboard Overview</p>

                      </div><div class="col-lg-4 col-md-12 mb-4">

                            <!--Modal: Name-->
                            <div class="modal fade" id="modal3" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">

                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Body-->
                                        <div class="modal-body mb-0 p-0">
                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                <iframe class="embed-responsive-item"
                                                    src="https://www.youtube.com/embed/RNx4D_owmQc"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Content-->

                                </div>
                            </div>
                            <!--Modal: Name-->

                            <a><img class="img-fluid z-depth-1" src="../../../../assets/img/bg-img/yt-cover.png" alt="video"
                                    data-toggle="modal" data-target="#modal3"></a>
                                    
                            <p class="text-center"><br/>03 How to Post Bagifree Stuff</p>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>


    <section class="our-monthly-membership section_padding_50 clearfix">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="membership-description">
              <h2>Like this platform? Love2Support!</h2>
              <p>
                We need your help today to keep this platform up and running so
                that this exchanges of love between people to people and people
                to earth can thrive for as long as we can. Your every bit of
                donation will go back to the BagiFree community and will not be
                put to waste.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="get-started-button wow bounceInDown"
              data-wow-delay="0.5s"
            >
              <a href="/pages/donate"
                ><i class="ti-heart" aria-hidden="true"></i> Love2Support</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** Footer Area Start ***** -->

    <!-- ***** Footer Area Start ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>

    <script>
      $("#modal1").on("hidden.bs.modal", function(e) {
        // do something...
        $("#modal1 iframe").attr("src", $("#modal1 iframe").attr("src"));
      });

      $("#modal2").on("hidden.bs.modal", function(e) {
        // do something...
        $("#modal2 iframe").attr("src", $("#modal2 iframe").attr("src"));
      });

      $("#modal3").on("hidden.bs.modal", function(e) {
        // do something...
        $("#modal3 iframe").attr("src", $("#modal3 iframe").attr("src"));
      });
    </script>

    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"
    ></script>
  </body>
</html>
