<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Find BagiFree/Swap by Category</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item active">Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="section section-basic">
    <div class="container">
        <h3 class="title" style="margin-top :32px">Browse by Category</h3>
        <p class="category">acinia lectus voluptate hymenaeos excepturi adipisci justo curae delectus sint dui deserunt
            doloremque</p>
        <!-- <div class="category-items">
                <a href="https://www.mudah.my/malaysia/cars-for-sale" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Cars" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_cars_grey.svg">
                    <div>Cars</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Electronics-for-sale-3000" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Electronics" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_electronics_grey.svg">
                    <div>Electronics</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Jobs-available-7020" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Jobs" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_jobs_grey.svg">
                    <div>Jobs</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Properties-for-sale-2000" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Properties" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_properties_grey.svg">
                    <div>Properties</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Services-available-7040?sa=" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Services" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_service_grey.svg">
                    <div>Services</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Sports-Outdoors-for-sale-5020" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Sports and Hobbies" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_sports_grey.svg">
                    <div>Sports &amp; Hobbies</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Women's-Collection-for-sale-4100" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Women's Collections" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_women_grey.svg">
                    <div>Women's Collections</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Pets-for-sale-5080" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Pets" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_pets_grey.svg">
                    <div>Pets</div>
                </a>
                <a href="https://www.mudah.my/Negeri-Sembilan/Games-and-Consoles-all-3120" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::Games and Consoles" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_games_grey.svg">
                    <div>Games and Consoles</div>
                </a>
                <a href="#" data-toggle="modal" data-target="#otherCatModal" class="trackable" data-event_type="link" data-event_name="Browse by Category (Homepage 2017)" data-xtn2="91" data-page_name="Browse by Category (Homepage 2017)::See other 52 categories" data-click_type="N">
                    <img src="https://www.mudah.my/img/cat_others_grey.svg">
                    <div>See other 52 Categories</div>
                </a>
              </div> -->
    </div>
</div>
<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div class="col-sm-3 collection-filter">
                <product-details-sidebar></product-details-sidebar>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img class="img-fluid" style="max-width:auto;height:40vh;object-fit:cover"
                        src="https://firebasestorage.googleapis.com/v0/b/bagifree-5e5d4.appspot.com/o/POP%20-%20Web-9.jpg?alt=media&token=5b965b8f-c164-4234-904b-8a0dda3dbc20">
                    <!-- <img src="assets/images/collection/3.jpg" class="img-fluid" alt=""> -->
                    <div class="collection-content">
                        <!-- <h4>(20 products)</h4> -->
                        <h3>312SDASFDASF</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s,</p>
                        <a [routerLink]="link1" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img class="img-fluid"
                    style="max-width:auto;height:40vh;object-fit:cover"
                        src="https://firebasestorage.googleapis.com/v0/b/bagifree-5e5d4.appspot.com/o/Screenshot%202019-11-03%20at%205.47.38%20AM.pnged05777b-b852-15f9-19e4-7c010554a5b9?alt=media&token=72e41344-7be6-4caf-afce-f97a7a1d2252">
                    <div class="collection-content">
                        <!-- <h4>(20 products)</h4> -->
                        <h3>PRODUCT ANME3</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s,</p>
                        <a [routerLink]="link2" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="https://firebasestorage.googleapis.com/v0/b/bagifree-5e5d4.appspot.com/o/Screenshot%202019-11-03%20at%205.17.06%20AM.pngbd08a0e6-093e-4637-5fab-e367c1cbfe43?alt=media&token=e1c47da0-9131-4d6f-9584-5b1009871cbd"
                    style="max-width:auto;height:40vh;object-fit:cover"  class="img-fluid" alt="">
                    <div class="collection-content">
                        <!-- <h4>(20 products)</h4> -->
                        <h3>VAUGHAN WADE</h3>
                        <p>Cumque impedit dolo</p>
                        <a [routerLink]="link3" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row partition-collection section-t-space">
                    <div class="col-sm-3 collection-filter">

                    </div>
                    <div class="col-sm-9">
                            <div class="col-lg-3 col-md-6">
                                    <div class="collection-block">
                                        <img src="assets/images/collection/7.jpg" class="img-fluid" alt="">
                                        <div class="collection-content">
                                            <h4>(20 products)</h4>
                                            <h3>fashion</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                                            <a [routerLink]="" class="btn btn-outline">shop now !</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="collection-block">
                                        <img src="assets/images/collection/8.jpg" class="img-fluid" alt="">
                                        <div class="collection-content">
                                            <h4>(20 products)</h4>
                                            <h3>fashion</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                                            <a [routerLink]="" class="btn btn-outline">shop now !</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="collection-block">
                                        <img src="assets/images/collection/9.jpg" class="img-fluid" alt="">
                                        <div class="collection-content">
                                            <h4>(20 products)</h4>
                                            <h3>fashion</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                                            <a [routerLink]="" class="btn btn-outline">shop now !</a>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div> -->
</section>